@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    color: rgb(55, 65, 81);
}

.side, .other {
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
}

.box {
    max-height: 100%;
    max-width: 100%;
    min-height: 45%;
    min-width: 70%;
    background-color: #ebebeb;
    border-radius: 12px;
    border: 3px solid #d8d8d8;

    text-align: center;
    margin-bottom: 20px;

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 45px;
    overflow-y:scroll;
}

input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d8d8d8;
    width: 100%;

    font-weight: 400;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.together {
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.form {
    text-align: left;
    margin-bottom: 20px;
}
.header {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 15px;
}

.title {
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 15px;
}

.paper {
    display: flex;
    min-height: 100%;
    min-width: 100%;
    background-color: white;
}

.education {
    background-color: #38cb82;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    width: 105%;
}

.education:hover {
    background-color: #2eb774;
}