@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: black;
}

ul {
    list-style-type: none;
}
.side, .other {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
}

@media (max-width: 969px) {
    .page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .paper {
        height: min-content;
    }
}
.side {
    width: 40%;
    height: 100vh;
}
.other {
    width: 50%;
    height: auto;
}
.page {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 24px;
    width: 1500px;
    max-width: 1500px;
    max-height: none;
}
.box {
    background-color: #ebebeb;
    border-radius: 12px;
    border: 3px solid #d8d8d8;

    text-align: center;

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 45px;
    overflow-y:scroll;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d8d8d8;
    width: 100%;

    font-weight: 400;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.together, .together2 {
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 150px;
    width: 100%;
}

.form {
    text-align: left;
    margin-bottom: 20px;
}

.title {
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 10px;
}

.paper {
    min-height: 90%;
    min-width: 90%;
    background-color: white;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 2px solid black;
}

.add, .remove, .export {
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    width: 40%;
    margin-bottom: 20px;
}

.add, .export, ul button {
    background-color: #333333;
}

.remove {
    background-color: #ef4444;
}

.remove:hover {
    background-color: #d41212;
}

.add:hover, .export:hover, ul button:hover {
    background-color: black;
}

.tasks {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 104%;
}

.boxed {
    background-color: rgb(228, 228, 231);
    margin-bottom: 15px;
    width: 95%;
    margin-left: 3px;
    padding-right: 40px;
    padding-left: 10px;
    padding-top: 15px;
    border-radius: 6px;
    border: 2px solid rgb(212, 212, 216);
}

textarea {
    resize: none;
    height: 150px;
    width: 100%;
}

.centered {
    display: flex;
    justify-content: center;
}

.export {
    color: white;
    width: 40%;
    min-width: 40%;
    max-width: 50%;
    font-weight: 400;
}

.personal-section {
    text-align: center;
    margin-bottom: 5px;

    ul {
        display: flex;
        justify-content: center;
        gap: 4px;
        list-style-type: none;
        font-size: 12px;
        margin-bottom: 0;
        margin-top: 0;
    }

    li {
        padding: 0 4px;
        border-right: 1px solid;
    }

    li:last-child {
        border-right: 0;
    }

    h1 {
        margin-bottom: 3px;
        margin-top: 0;
    }
}

.education-section, .experience-section, .project-section, .skills-section {
    h3 {
        margin-top: 0;
        border-bottom: 1px solid;
        margin-bottom: 5px;
        font-size: 20px;
    }

    ul {
        padding: 0 8px;
        display: flex;
        flex-direction: column;
        row-gap: 2px;
        margin-top: 0;
        margin-bottom: 5px;
    }

    li div {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }
}

.education-section {
    li {
        margin-bottom: 8px;
    }
}
.experience-section, .project-section {
    li div {
        margin-bottom: 2px;
    }
    ul {
        margin-bottom: 5px;
    }
}

.project-section strong {
    margin-right: 5px;
    border-right: 1px solid;
    padding-right: 4px;
}

.education-section strong, .experience-section strong, .project-section strong, .project-section span {
    font-size: 15px;
}

.skills-section {
    font-size: 14px;
}

.buttons {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
}

p {
    font-style: italic;
    margin: 0;
}

.project-section span {
    font-size: 13px;
}

ul button {
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    font-weight: 400;
    font-size: 15px;
    border: none;
    color: white;
}